* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  padding: 20px;
  width: 1400px;
}

.container-title {
  padding: 0, 10px, 0, 10px;
  text-align: center;
}

.container-contents {
  display: flex;
  justify-content: space-around;
}

.container-contents-inserts {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 50%;
}

.container-contents-inserts-col {
  display: flex;
  flex-direction: column;
}

.container-contents-inserts-col input[type="text"],
.container-contents-inserts-col input[type="number"],
.container-contents-inserts-col input[type="tel"],
.container-contents-inserts-col input[type="email"],
.container-contents-inserts-col input[type="password"],
.container-contents-inserts-col select,
.container-contents-inserts-col input[type="submit"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.container-contents-inserts-col label,
.container-contents-inserts-col input[type="submit"] {
  margin: 12px 12px 12px 0;
}

.container-contents-inserts-col input[type="submit"] {
  margin-top: 24px;
  background-color: antiquewhite;
  cursor: pointer;
}

.container-contents-display {
  width: 50%;
  padding: 0px 10px 0px 10px;
}

.container-contents-display table {
  width: 100%;
  border-collapse: collapse;
}
.container-contents-display td,
.container-contents-display th,
.container-contents-display tr {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.container-contents-display td {
  text-align: left;
}

.container-contents-display tr:nth-child(even) {
  background-color: antiquewhite;
}

.container-contents-display-td-edit,
.container-contents-display-td-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: yellow;
  height: 25px;
  width: auto;
  padding: 0px 5px 0px 5px;
}

.container-contents-display-td-remove {
  background-color: red;
  color: #fff;
}
