@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.columnLeft {
  background-color: #2b3743;
  width: 270px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* margin-left: 0;
    margin-right: auto;
    justify-content: center;
    align-items: center; */
}

.columnRight {
  background-color: #eeeeee;
  width: 670px;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.columnRight p {
  color: black;
}
.column {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.navbar {
  width: 1010px;
  height: 50px;
  padding: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  background-color: #2b3743;
  margin-bottom: 7px;
  align-items: center;
}
.navbar input {
  width: 225px;
  border-radius: 24px;
  padding: 5px;
  margin-right: 10px;
}
.navbar label {
  color: white;
  margin-right: 5px;
}
.navbar i{
  color: white;
}

.navbar button {
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  color: #2b3743;
  padding-left: 10px;
  padding-right: 10px;
}

.picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
  box-shadow: -5px -5px 20px #ecf0f3, 5px 5px 20px #babecc;
}

P {
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  /* margin-left: 1px ; */
}

.columnLeft i {
  margin-right: 10px;
  color: white;
}

.columnRight h1 {
  color: #2b3743;
  text-align: center;
}

.headerline {
  width: 70px;
  height: 2px;
  background-color: #2b3743;
  margin-bottom: 5px;
}

.columnRight h3 {
  color: #9f9f9f;
  text-align: center;
}

.hrtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hrtext p {
  color: black;
  font-size: 16px;
  flex-grow: 0;
}

.headerhr {
  flex-grow: 1;
  height: 2.5px;
  margin: 0 0 0 0.8rem;
  background-color: #9f9f9f;
}

.paragraph {
  color: #ecf0f3;
  text-align: justify;
  font-size: 12px;
}

.sideText {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}
.sideText p {
  color: white;
  font-size: 16px;
  flex-grow: 0;
}
