@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    font-family: "Poppins", sans-serif;
  }
  input{
    border-radius: 320px;
    border: 1px solid black;
    padding: 7px; 
  }
  textarea
  {
    border-radius: 20px; 
    appearance: none;
    -webkit-appearance: none;   
    border: 1px solid black;
    padding: 7px; 
  }

.divider
{
    display: flex;
}
label{
    margin-right: 10px;
}